@import 'variables';

.inputs-container{
    position: relative;
    top: -100px;
    left: 10%;
    width: 80%;
    max-width: 500px;
}

.input{
    width: 92%;
    line-height: 25px;
    margin: 5px 0;
}

.inputs-sign-up{
    top: -3vh;
}

.input-select{
    border: 1px solid black;
    font-size: 18px;
}

.input-reservation-3em{
    width: 3em;
}

.input-reservation-year{
    width: 4em;
}

.input-reservation-month{
    width: 6.4em;
}

.review-inputs{
    width: 80%;
    max-width: 500px;
    margin: 80px auto 0px auto;
}

.review-input{
    width: 100%;
}
