// $bg-color: lightgrey;
// $bg-color2: rgb(189, 131, 45);
// $btn-bg: #555;
// $btn-text: rgb(228, 228, 228);
// $body-text: black;

// 5
$bg-color: #73605B;
$bg-color2: rgb(105, 145, 159);
$btn-bg: #363237;
$btn-text: rgb(228, 228, 228);
$body-text: rgb(228, 228, 228);

//2
// $bg-color: #50312F;
// $bg-color2: rgb(142, 205, 123);
// $btn-bg: #3F6C45;
// $btn-text: rgb(228, 228, 228);
// $body-text: rgb(228, 228, 228);

//1
// $bg-color: #00293C;
// $bg-color2: #80825c;
// $btn-bg: #1E656D;
// $btn-text: #F1F3CE ;
// $body-text: #F1F3CE ;
