@import 'variables';

*{
    box-sizing: border-box;
}

.App {
  text-align: center;
  background-color: $bg-color;
  height: 100vh,;
  color: $body-text;
}

.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.logo{
    position: absolute;
}

.logo-main{
    width: 40vw;
    height: 10vh;
    left: 20px;
    top: 3px;
}

.welcome-msg{
    position: absolute;
    right: 0px;
    top:5px;
    font-size: 14px;
}

.reservations-viewer{
    margin-top: 80px;
}

.reservations-header{
    font-size: 18px;
    text-decoration: underline;
}

.logo-sign-in{
    position: absolute;
    top: 10px;
    width: 100vw;
    left: 0;
    height: 30vh;
}

.sign-in{
    position: absolute;
    top: 40vh;
    left: 10%;
}
