@import 'variables';

.App {
  text-align: center;
  background-color: $bg-color;
  height: 100vh,;
}
.flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.logo{
    position: absolute;
}
.logo-sign-in{
    top: 10px;
    width: 100vw;
    height: 30vh;
    margin-bottom: 5vh;
}
.logo-main{
    width: 40vw;
    height: 10vh;
    left: 20px;
    top: 3px;
}
.welcome-msg{
    position: absolute;
    right: 0px;
    top:5px;
    font-size: 14px;
}
.cars-and-reviews{
    height: 65vh;
    position: relative;
    top: 10vh;
    overflow-y: scroll;
}
.car-make-model{
    width: 100%;
}
.car-description-reviews{
    margin: 5px 0;
}
.car-description{
    width: 45vw;
}
.car-img{
    border: 1px solid black;
    width: 47vw;
}
.car-mpg{}
.car-address{}
.car-reviews{
    width: 47vw;
    margin-left: 10px;

}
.btn-edit-review{
    width: 100%;
    min-width: 95px;
}
.reservations-viewer{
    margin-top: 80px;
}
.reservations-header{
    font-size: 18px;
    text-decoration: underline;
}
.inputs-container{
    position: absolute;
    top: 80px;
    left: 10%;
    width: 80%;
    max-width: 500px;
}
.input{
    width: 92%;
}
