@import 'variables';

.cars-and-reviews{
    height: 63.5vh;
    position: relative;
    top: 15vh;
    border: 2px solid black;
    overflow-y: scroll;
}

.car-make-model{
    width: 100%;
}

.car-description-reviews{
    margin: 5px 0;
    border: 1px solid black;
}

.car-description{
    width: 45%;
    margin-left: -25px;
}

.car-img{
    border: 1px solid black;
}
.car-img-small{
    width: 45vw;
    max-width: 240px;
    min-width: 150px;
    height: 30vw;
    max-height: 160px;
    min-height: 100px;
}

.car-mpg{}

.car-address{}

.car-reviews{
    width: 45%;
    margin-left: 25px;
    margin-right: -25px;

}

.review{
    position: relative;
    max-width: 245px;
    border: 1px solid black;
}

.review-title{
    width: 100%;
    font-size: 20px;
}

.review-description{
    width: 100%;
    font-size: 16px;
}

.review-reviewer-rating{
    width: 100%;
    font-size: 14px;
}
