@import 'variables';

.footer-menu{
    // position: relative;
    // bottom: -493px;
    position: fixed;
    bottom: 0;
    width: 100%;
    max-width: 500px;
    border-top: 2px solid;
    background-color: $bg-color;
}
.footer-menu-btn{
    margin: 5px 10px;
}

.btn-reservations{
    width: 35%;
}

.btn-find-car{
    width:29%;
}

.btn-cars{
    width: 15%;
}
