@import 'variables';

.user-cars-container{
    position: relative;
    top: 45px;
}
.user-cars{
    overflow-y: scroll;
    height: calc(100vh - 130px);
}
.user-car{}
.user-car-make-model{
  border-top: 2px solid;
  margin-top: 20px;
}
.user-car-img{
    width: 60vw;
    height: 40vw;
    max-width: 300px;
    max-height: 200px;
}
.user-car-info{}
.user-car-info-list{}
