@import "variables";

.review{
    position: relative;
    width: 47vw;
    border: 1px solid black;
}
.review-title{
    width: 100%;
    font-size: 20px;
}
.review-description{
    width: 100%;
    font-size: 16px;
}
.review-reviewer-rating{
    width: 100%;
    font-size: 14px;
}
.review-inputs{
    width: 80%;
    max-width: 500px;
    margin: 80px auto 0px auto;
}
.review-input{
    width: 100%;
}
.review-input-description{
    height: 20px;
}
