@import 'variables';

.reservation-inputs-container{
    position: absolute;
    top: 40vh;
    max-width: 500px;
}

.reservation-labels{
    font-size: 20px;
}

.reservation-inputs{
    font-size: 20px;
    margin: 10px 0;
}

.reservation-start-inputs, .reservation-end-inputs{
    width: 14%;
    margin: 20px 13px;
    min-width: 115px;
}

.reservation-start-inputs{
    margin-left: 0;
}

.reservation-end-inputs{
}

.reservation-inputs-hour{
    margin-right: 10%;
}

.reservation-inputs-ampm{
    margin-right: 20%;
}

.available-cars{
    position: absolute;
    top: 13vh;
    width: 100%;
    height: 81.5vh;
    overflow-y: scroll;
    left: 0;
}

.available-car{
    border: 1px solid black;
    margin: 2px 0;
    padding: 5px 0;
}

.car-img-large{
    width: 90vw;
    max-width: 500px;
    height: 60vw;
    max-height: 335px;
}
.reserve-car-info{
    margin: 0 20vw;
}
