@import 'variables';

.reservation-inputs-container{
}

.reservation-labels{
    font-size: 20px;
}

.reservation-inputs{
    font-size: 20px;
    margin: 10px 0;
}

.reservation-start-inputs, .reservation-end-inputs{
    width: 14vw;
    margin: 20px 33px;
}

.reservation-start-inputs{
    margin-left: 0;
    margin-right: 50px;
}

.reservation-end-inputs{
}

.reservation-inputs-hour{
    margin-right: 10%;
}

.reservation-inputs-ampm{
    margin-right: 20%;
}

.available-cars{
    position: absolute;
    top: 50vh;
    width: 100%;
    height: 43vh;
    overflow-y: scroll;
    left: 0;
}

.available-car{

}

.car-img{
    width: 150px;
    height: 100px;
    background-image: url("");
}
