.available-cars{
    position: absolute;
    top: 10vh;
    width: 100%;
    z-index: -2;
}

.available-car{

}
.car-img{
    width: 150px;
    height: 100px;
    background-image: url("");

}
.car-make-model{
    color: white;
}
